# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Build outputs
/dist
/build
/coverage

# Env
.env
.env.*

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# OneDrive temp
~$*
